<div class="layout-container flex h-full grow flex-col">
    <div *ngIf="isLoading" class="centralized-spinner-container">
        <mat-spinner diameter="60" color="light"></mat-spinner>
    </div>

    <div class="content-wrapper flex-grow">
        <div class="layout-content-container" *ngIf="!isLoading">
            <div class="comics-header">
                <div class="comics-info">
                    <h1 class="page-title">{{ pageTitle }}</h1>
                    <p class="comics-results-count ml-5">
                        Mostrando {{(currentPage-1) * pageSize + 1}} -
                        {{calculateUpperBound()}}
                        de {{totalItems}} títulos
                    </p>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="controls-section flex-1 justify-end mr-4 mt-4">

                        <div class="sorting-controls align-middle">
                            <div class="sort-label text-white font-semibold mt-0">Ordenar por</div>
                            <div class="sort-options scale-[0.85]">
                                <button class="sort-button px-4 py-1 rounded-2xl"
                                    [class.active]="searchParams.sortBy === 'nomeInter'"
                                    (click)="updateSorting('nomeInter', !searchParams.isDescending)">
                                    Título
                                    <span *ngIf="searchParams.sortBy === 'nomeInter'">
                                        {{ searchParams.isDescending ? '↓' : '↑' }}
                                    </span>
                                </button>

                                @if(contentType === 'comics') {
                                <button class="sort-button px-4 py-1 rounded-2xl"
                                    [class.active]="searchParams.sortBy === 'cicloNum'"
                                    (click)="updateSorting('cicloNum', !searchParams.isDescending)">
                                    Volume
                                    <span *ngIf="searchParams.sortBy === 'cicloNum'">
                                        {{ searchParams.isDescending ? '↓' : '↑' }}
                                    </span>
                                </button>

                                <button class="sort-button px-4 py-1 rounded-2xl"
                                    [class.active]="searchParams.sortBy === 'numEdicoes'"
                                    (click)="updateSorting('numEdicoes', !searchParams.isDescending)">
                                    Edições
                                    <span *ngIf="searchParams.sortBy === 'numEdicoes'">
                                        {{ searchParams.isDescending ? '↓' : '↑' }}
                                    </span>
                                </button>
                                }
                                @else {
                                <button class="sort-button px-4 py-1 rounded-2xl"
                                    [class.active]="searchParams.sortBy === 'numEdicoes'"
                                    (click)="updateSorting('numEdicoes', !searchParams.isDescending)">
                                    Tankos
                                    <span *ngIf="searchParams.sortBy === 'numEdicoes'">
                                        {{ searchParams.isDescending ? '↓' : '↑' }}
                                    </span>
                                </button>
                                }
                            </div>
                        </div>

                        <div class="align-middle">
                            <div class="sort-label text-white text-sm font-semibold mb-[7px]">Estilo de publicação</div>
                            <div class=" scale-[0.85]">
                                <mat-button-toggle-group class="ml-2" [value]="contentType"
                                    (change)="onContentTypeChange($event)">
                                    <mat-button-toggle value="comics">
                                        <span class="toggle-label">Comics</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="mangas">
                                        <span class="toggle-label">Mangá</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>

                        <div class="align-middle">
                            <div class="sort-label text-white text-sm font-semibold mb-[7px]">Modo de visualização</div>
                            <div class=" scale-[0.85]">
                                <mat-button-toggle-group class="ml-2" [value]="viewMode"
                                    (change)="onViewModeChange($event)">
                                    <mat-button-toggle value="card">
                                        <span class="toggle-label">Cards</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="list">
                                        <span class="toggle-label">Lista</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-row">
                        <div class="search-wrapper-header scale-[0.85]">
                            <form #searchForm="ngForm" (ngSubmit)="onSearchChange()">
                                <div class="search-container">
                                    <div class="search-icon-container">
                                        <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
                                    </div>
                                    <input class="search-input" placeholder="Buscar" name="search"
                                        [(ngModel)]="searchParams.search" required autocomplete="off" />
                                    <button mat-icon-button type="button" *ngIf="searchParams.search"
                                        (click)="clearSearch()" class="clear-search-button">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @if (calculateUpperBound() / 5 <= 1) {
            <div class="comics-grid mx-20 mb-[19rem]" *ngIf="viewMode === 'card'">
            @for (serie of comicSeries; track $index) {
                @if (firstCovers.length === comicSeries.length) {
                <div class="comic-card w-4/5" (click)="navigateToDetail(serie.id, serie.editoraId, serie)">
                    <div class="comic-cover" [style.background-image]="'url(' + firstCovers[$index].fotoCapa + ')'">
                        <div class="comic-overlay"></div>
                    </div>
                    <div class="comic-info">
                        <h3 class="comic-title">{{serie.nomeInter}}</h3>
                        @if (contentType === 'comics') {
                        <p class="comic-volume">Vol. {{serie.cicloNum}}</p>
                        }
                        @if (contentType === 'mangas' && serie.mangaStats) {
                        <div class="manga-info">
                            <p class="manga-jp-title">{{serie.mangaStats.nomeJap}}</p>
                            <p class="manga-demographics">{{serie.mangaStats.demografia}}</p>
                        </div>
                        }
                        <div class="comic-details">
                            <p class="comic-status">{{serie.estadoPubAtual | lowercase}}</p>
                            <p class="comic-issues">
                                {{serie.numEdicoes}}
                                @if (contentType === 'mangas' && serie.mangaStats) {
                                tankos
                                }
                                @else {
                                edições
                                }
                            </p>
                        </div>
                    </div>
                </div>
                }
                }

                <div *ngIf="comicSeries.length === 0 && !isLoading" class="empty-state">
                    <p>Nenhum título de quadrinhos encontrado.</p>
                </div>
            </div>
            }
            @else {
                <div class="comics-grid mx-20 mb-4" *ngIf="viewMode === 'card'">
                @for (serie of comicSeries; track $index) {
                    @if (firstCovers.length === comicSeries.length) {
                    <div class="comic-card w-4/5" (click)="navigateToDetail(serie.id, serie.editoraId, serie)">
                        <div class="comic-cover" [style.background-image]="'url(' + firstCovers[$index].fotoCapa + ')'">
                            <div class="comic-overlay"></div>
                        </div>
                        <div class="comic-info">
                            <h3 class="comic-title">{{serie.nomeInter}}</h3>
                            @if (contentType === 'comics') {
                            <p class="comic-volume">Vol. {{serie.cicloNum}}</p>
                            }
                            @if (contentType === 'mangas' && serie.mangaStats) {
                            <div class="manga-info">
                                <p class="manga-jp-title">{{serie.mangaStats.nomeJap}}</p>
                                <p class="manga-demographics">{{serie.mangaStats.demografia}}</p>
                            </div>
                            }
                            <div class="comic-details">
                                <p class="comic-status">{{serie.estadoPubAtual | lowercase}}</p>
                                <p class="comic-issues">
                                    {{serie.numEdicoes}}
                                    @if (contentType === 'mangas' && serie.mangaStats) {
                                    tankos
                                    }
                                    @else {
                                    edições
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                    }
                    }
    
                    <div *ngIf="comicSeries.length === 0 && !isLoading" class="empty-state">
                        <p>Nenhum título de quadrinhos encontrado.</p>
                    </div>
                </div>
            }

            <div class="comics-list-container" *ngIf="viewMode === 'list'">
                <div class="comics-list">
                    @for (serie of comicSeries; track $index) {
                    @if (firstCovers.length === comicSeries.length) {
                    <div class="comic-list-item" (click)="navigateToDetail(serie.id, serie.editoraId, serie)">
                        <div class="comic-list-image"
                            [style.background-image]="'url(' + firstCovers[$index].fotoCapa + ')'">
                        </div>
                        <div class="comic-list-content">
                            <p class="comic-list-title">
                                <b>{{serie.nomeInter}}</b>
                                @if (searchParams.type === 'comics') {
                                Vol. {{serie.cicloNum}}
                                }
                            </p>
                            
                            <div class="comic-list-details">
                                @if (contentType === 'mangas' && serie.mangaStats) {
                                {{serie.mangaStats.nomeJap}} - {{serie.mangaStats.demografia}} -
                                }
                                <span class="capitalize">{{serie.estadoPubAtual.toLowerCase()}}</span> -
                                <span class="comic-list-issues">{{serie.numEdicoes}}
                                    @if (contentType === 'mangas' && serie.mangaStats) {
                                    tankos
                                    }
                                    @else {
                                    edições
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                    }
                    }

                    <div *ngIf="comicSeries.length === 0 && !isLoading" class="empty-state">
                        <p>Nenhum título de quadrinhos encontrado.</p>
                    </div>
                </div>
            </div>

            <mat-paginator *ngIf="totalItems > 0" [length]="totalItems" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" [pageIndex]="currentPage - 1" (page)="onPageChange($event)" 
                showFirstLastButtons class="comics-paginator mt-1">
            </mat-paginator>
        </div>
    </div>
</div>