<footer class="flex justify-center w-full mt-auto border-t border-blue-800">
  <div class="flex max-w-[960px] flex-1 items-center px-3 py-2">
    <div class="flex items-center justify-center w-full text-sm">
      
      <p class="text-[#C4C4C4] text-sm">&#64;2024-25 Collectpedia</p>

      <div class="flex gap-3 ml-5">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/roberto-nicacio/" class="opacity-80 hover:opacity-100">
          <img src="/linkedin-app-white-icon.svg" alt="linkedin-logo" height="20" width="20" />
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/robng98/" class="opacity-80 hover:opacity-100">
          <img src="/github-mark-white.svg" alt="github-logo" height="20" width="20" />
        </a>
      </div>
    </div>
  </div>
</footer>