<footer class="flex justify-center w-full mt-auto border-t border-blue-800">
  <div class="flex max-w-[960px] flex-1 items-center px-3 py-2">
    <div class="flex items-center justify-between w-full text-sm">
      <!-- Links -->
      <div class="flex gap-4">
        <a class="text-[#C4C4C4] hover:text-white" href="#">Sobre</a>
        <a class="text-[#C4C4C4] hover:text-white" href="#">Contato</a>
        <a class="text-[#C4C4C4] hover:text-white" href="#">Ajuda</a>
      </div>

      <!-- Copyright -->
      <p class="text-[#C4C4C4] text-sm">&#64;2024-25 Collectpedia</p>

      <!-- Social Icons -->
      <div class="flex gap-3">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/roberto-nicacio/" class="opacity-80 hover:opacity-100">
          <img src="/linkedin-app-white-icon.svg" alt="linkedin-logo" height="20" width="20" />
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/robng98/" class="opacity-80 hover:opacity-100">
          <img src="/github-mark-white.svg" alt="github-logo" height="20" width="20" />
        </a>
      </div>
    </div>
  </div>
</footer>