<header>
    <div class="logo-section">
        <div class="logo-container" routerLink="">
            <div class="logo-icon">
                <img src="/logo2.svg" alt="Collectpedia Logo">
            </div>
            <a class="logo-text">
                Collectpedia
            </a>
        </div>

        <div class="search-wrapper">
            <form #searchForm="ngForm" (ngSubmit)="onSearchChange()">
                <div class="search-container">
                    <div class="search-icon-container">
                        <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
                    </div>
                    <input class="search-input" placeholder="Buscar" name="search" [(ngModel)]="searchParams.search"
                        required autocomplete="off" />
                    <div class="flex items-center mt-2">
                        <div class="mt-2">
                            <mat-form-field appearance="fill" class="max-w-24">
                                <mat-select [(ngModel)]="searchParams.type" name="type" required>
                                    <mat-option value="comics">/co</mat-option>
                                    <mat-option value="mangas">/ma</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div matTooltip="Digite sua busca e selecione o tipo de publicação primeiro!"
                            [matTooltipDisabled]="isValidSearch(searchParams.search) && searchParams.type">
                            <button type="submit" mat-icon-button
                                [disabled]="!isValidSearch(searchParams.search) || !searchParams.type">
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <nav>
            <a routerLink="/summary/series/comics">Comics</a>
            <a routerLink="/summary/series/mangas">Mangás</a>
            <a routerLink="/summary/publishers">Editoras</a>
        </nav>
    </div>

    <div class="actions-section">
        <div class="buttons-container">
            <ng-container *ngIf="!currentUser">
                <button class="login-button" routerLink="account/register">
                    <span>Cadastrar</span>
                </button>
                <button class="login-button" routerLink="account/login">
                    <span>Login</span>
                </button>
            </ng-container>

            <ng-container *ngIf="currentUser">
                <div class="welcome-text">Olá, {{ currentUser.fullName || currentUser.email }}!</div>
                <button class="login-button" routerLink="/user">
                    <span>Perfil</span>
                </button>
                <button class="login-button" (click)="logout()">
                    <span>Logout</span>
                </button>

            </ng-container>
        </div>

    </div>
</header>