<div class="flex flex-1 justify-center py-5 bg-blue-950">
    <div *ngIf="isLoading" class="centralized-spinner-container">
        <mat-spinner diameter="60" color="accent"></mat-spinner>
    </div>

    <div class="layout-container flex flex-1 max-w-[1200px] px-4" *ngIf="!isLoading">
        <div class="serie-info flex-1 max-w-[300px] mr-6">
            @if (currentSerie && currentEditora && currentEdicao) {
            <div class="serie-header mb-6 ">
                <h2 class="text-[#FFFFFF] text-[28px] font-bold leading-tight mb-2">
                    {{currentSerie.nomeInter}}
                </h2>
                <p class="text-[#C4C4C4] text-lg pl-3 mb-5">
                    {{dataInicioSerie.slice(0,4)}}
                </p>

                @if (currentSerie.mangaStats) {
                <div class="serie-detail mt-4 mb-4 flex flew-col justify-between">
                    <div class="flex flex-col">
                        <p
                            class="text-[#FFF] text-base font-medium leading-normal border-b border-blue-700 pb-1 pr-4 mb-2">
                            Nome Original</p>
                        <div class=" p-3 text-left">
                            <p class="text-[#FFFFFF] text-sm font-medium">
                                {{currentSerie.mangaStats.nomeJap}}
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p
                            class="text-[#FFF] text-base font-medium leading-normal border-b border-blue-700 pb-1 pr-4 mb-2">
                            Demografia</p>
                        <div class=" p-3 text-left">
                            <p class="text-[#FFFFFF] text-sm font-medium">
                                {{currentSerie.mangaStats.demografia}}
                            </p>
                        </div>
                    </div>
                </div>
                }
                <div class="serie-details">
                    <div class="flex flex-col mb-4">
                        <p class="text-[#FFF] text-base font-medium leading-normal border-b border-blue-700 pb-1 mb-2">
                            Editora</p>
                        <div class=" p-3 text-left">
                            <p class="text-[#FFFFFF] text-sm font-medium">
                                {{currentEditora.nome}}
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col mb-4">
                        <p class="text-[#FFF] text-base font-medium leading-normal border-b border-blue-700 pb-1 mb-2">
                            Status</p>
                        <div class=" p-3 text-left">
                            <p class="text-[#FFFFFF] text-sm font-medium capitalize">
                                {{currentSerie.estadoPubAtual.toLowerCase()}}
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col mb-4">
                        <p class="text-[#FFF] text-base font-medium leading-normal border-b border-blue-700 pb-1 mb-3">
                            Gêneros</p>
                        <mat-chip-listbox multiple class="genre-chips">
                            <mat-chip *ngFor="let genero of currentSerie.generos" class="capitalize genre-chip">
                                {{genero.tipo}}
                            </mat-chip>
                        </mat-chip-listbox>
                    </div>

                    <div class="flex flex-col mb-4">
                        <p class="text-[#FFF] text-base font-medium leading-normal border-b border-blue-700 pb-1 mb-2">
                            Número de
                            @if(currentSerie.mangaStats) {
                            Tankos
                            }
                            @else {
                            Edições
                            }
                        </p>
                        <div class=" p-3 text-left">
                            <p class="text-[#FFFFFF] text-lg font-bold">
                                {{currentSerie.numEdicoes}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            }
        </div>

        <div class="content-main flex-[2] flex flex-col ml-14 mr-8">
            <div class="section-header">
                <h3 class="section-title text-[#FFFFFF] text-[22px] font-bold leading-tight tracking-[-0.015em] mb-3">
                    Edições Disponíveis</h3>
            </div>

            <form [formGroup]="selectionForm" (ngSubmit)="onSubmit()">
                <div class="table-container border-none rounded-t-md flex flex-col w-[100%] bg-[#213471]">
                    <div>
                        <table mat-table [dataSource]="dataSource" [trackBy]="trackByEdicao">
                            <ng-container matColumnDef="titulo">
                                <th mat-header-cell *matHeaderCellDef> Título </th>
                                <td mat-cell *matCellDef="let edicao" class="text-neutral-100"> {{edicao.serieNome}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="numero">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let edicao"> {{edicao.numero}} </td>
                            </ng-container>

                            <ng-container matColumnDef="preco">
                                <th mat-header-cell *matHeaderCellDef> Preço </th>
                                <td mat-cell *matCellDef="let edicao"> {{edicao.unMonetaria}} {{edicao.preco}} </td>
                            </ng-container>

                            <ng-container matColumnDef="selecao">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()"
                                        [indeterminate]="isSomeSelected() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let edicao">
                                    <mat-checkbox [formControl]="isSelected(edicao.id)"
                                        (click)="$event.stopPropagation()"></mat-checkbox>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="onEdicaoChange(row.id)" class="cursor-pointer hover:bg-[#344887]"></tr>
                        </table>
                    </div>
                </div>

                <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageNumber - 1"
                    [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" class="paginator"
                    showFirstLastButtons aria-label="Select issues page.">
                </mat-paginator>

                <div class="flex justify-end mt-4">
                    <div matTooltip="Logue na conta para habilitar função!"
                        [matTooltipDisabled]="contaService.currentUser() ? true : false "
                        [matTooltipShowDelay]="showDelay"
                        [matTooltipHideDelay]="hideDelay" >
                        <button mat-flat-button type="button" class="submit-button rounded-md mr-4" 
                            (click)="addCompleteSeries()"
                            [disabled]="!contaService.currentUser()">
                            <span>Adicionar Série Completa</span>
                        </button>
                    </div>
                    <div matTooltip="Logue na conta e/ou clique nas check-boxes para habilitar função!" 
                        [matTooltipDisabled]="(isSomeSelected() || isAllSelected() && contaService.currentUser()) ? true : false "
                        [matTooltipShowDelay]="showDelay"
                        [matTooltipHideDelay]="hideDelay" >
                        <button mat-flat-button class="submit-button rounded-md"
                        [disabled]="!isSomeSelected() && !isAllSelected() || !contaService.currentUser()">
                            <span>Adicionar à coleção</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="stats-column flex-1 flex flex-col relative">
            <div *ngIf="isLoadingDetails" class="issue-details-spinner">
                <mat-spinner diameter="40"></mat-spinner>
            </div>

            @if (currentEdicao) {
            <div>
                <div class="section-header">
                    <h2
                        class="section-title text-[#FFFFFF] text-[22px] font-bold leading-tight tracking-[-0.015em] mb-3">
                        Detalhes da Edição
                    </h2>
                </div>

                <div class="bg-[#213471] rounded-lg p-2 mb-4">
                    <img ngClass="issue-cover" *ngIf="currentEdicao.fotoCapa" [src]="currentEdicao.fotoCapa" 
                        alt="Capa da edição" class="cover-image" matTooltip="Clique para ampliar" [matTooltipPositionAtOrigin]="true"
                        (click)="openCoverImageDialog(currentEdicao.fotoCapa)"
                        [style.cursor]="currentEdicao.fotoCapa ? 'pointer' : 'default'">
                    <div *ngIf="!currentEdicao.fotoCapa" class="no-cover">
                        <mat-icon>image_not_supported</mat-icon>
                        <p>Sem capa disponível</p>
                    </div>
                </div>

                <div class="stats">
                    <div class="stat-card rounded-t-md ">
                        <p class="stat-value">#{{currentEdicao.numero}}</p>
                        <p class="stat-label">Número</p>
                    </div>
                    <div class="stat-card rounded-t-md ">
                        <p class="stat-value">{{currentEdicao.unMonetaria}} {{currentEdicao.preco}}</p>
                        <p class="stat-label">Preço</p>
                    </div>
                </div>

                <div class="bg-[#213471] contributors-container">
                    @if (currentSerie.mangaStats) {
                    <div class="popular-stat-card">
                        <div class="popular-item-label flex flex-row justify-between">
                            <div>
                                Mangaká(s)
                            </div>
                            @if (getContribuidoresByFuncao('Mangaká').length > 1) {
                                <div class="font-extrabold rounded-md bg-[#344887] px-2 text-sm">
                                    {{getContribuidoresByFuncao('Mangaká').length}}
                                </div>
                            }
                        </div>
                        <div class="popular-item-value">
                            @for (contributor of getContribuidoresByFuncao('Mangaká'); track $index) {
                                <p>{{contributor}}</p>
                            }
                            @if (getContribuidoresByFuncao('Mangaká').length === 0) {
                                <p>-</p>
                            }
                        </div>
                    </div>
                    } @else {
                    <div class="popular-stat-card">
                        <div class="popular-item-label flex flex-row justify-between">
                            <div>
                                Roteirista(s)
                            </div>
                            @if (getContribuidoresByFuncao('Roteirista').length > 1) {
                                <div class="font-extrabold rounded-md bg-[#344887] px-2 text-sm">
                                    {{getContribuidoresByFuncao('Roteirista').length}}
                                </div>
                            }
                        </div>
                        <div class="popular-item-value">
                            @for (contributor of getContribuidoresByFuncao('Roteirista'); track $index) {
                                <p>{{contributor}}</p>
                            }
                            @if (getContribuidoresByFuncao('Roteirista').length === 0) {
                                <p>-</p>
                            }
                        </div>
                    </div>
                    <div class="popular-stat-card">
                        <div class="popular-item-label flex flex-row justify-between">
                            <div>
                                Desenhista(s)
                            </div>
                            @if (getContribuidoresByFuncao('Desenhista').length > 1) {
                                <div class="font-extrabold rounded-md bg-[#344887] px-2 text-sm">
                                    {{getContribuidoresByFuncao('Desenhista').length}}
                                </div>
                            }
                        </div>
                        <div class="popular-item-value">
                            @for (contributor of getContribuidoresByFuncao('Desenhista'); track $index) {
                                <p>{{contributor}}</p>
                            }
                            @if (getContribuidoresByFuncao('Desenhista').length === 0) {
                                <p>-</p>
                            }
                        </div>
                    </div>
                    <div class="popular-stat-card" *ngIf="getContribuidoresByFuncao('Arte-Finalista').length !== 0">
                        <div class="popular-item-label flex flex-row justify-between">
                            <div>
                                Arte-Finalista(s)
                            </div>
                            @if (getContribuidoresByFuncao('Arte-Finalista').length > 1) {
                                <div class="font-extrabold rounded-md bg-[#344887] px-2 text-sm">
                                    {{getContribuidoresByFuncao('Arte-Finalista').length}}
                                </div>
                            }
                        </div>
                        <div class="popular-item-value">
                            @for (contributor of getContribuidoresByFuncao('Arte-Finalista'); track $index) {
                                <p>{{contributor}}</p>
                            }
                        </div>
                    </div>
                    <div class="popular-stat-card" *ngIf="getContribuidoresByFuncao('Colorista').length !== 0">
                        <div class="popular-item-label flex flex-row justify-between">
                            <div>
                                Colorista(s)
                            </div>
                            @if (getContribuidoresByFuncao('Colorista').length > 1) {
                                <div class="font-extrabold rounded-md bg-[#344887] px-2 text-sm">
                                    {{getContribuidoresByFuncao('Colorista').length}}
                                </div>
                            }
                        </div>
                        <div class="popular-item-value">
                            @for (contributor of getContribuidoresByFuncao('Colorista'); track $index) {
                                <p>{{contributor}}</p>
                            }
                        </div>
                    </div>
                    }

                    @if (currentTankobon.id != -1) {
                    <div class="popular-stat-card">
                        <p class="popular-item-label">Quantidade de Capítulos</p>
                        <p class="popular-item-value">{{currentTankobon.numeroCapitulos}}</p>
                    </div>
                    }

                    <div class="popular-stat-card">
                        <p class="popular-item-label">Mês de Publicação</p>
                        <p class="popular-item-value">
                            {{currentEdicao.dataLancamento | date: 'MMMM, yyyy':'':'pt-BR' | titlecase}}
                        </p>
                    </div>


                    <div *ngIf="contribuicoesTotalItems > contribuicoesPageSize" class="mt-4">
                        <mat-paginator [length]="contribuicoesTotalItems" [pageSize]="contribuicoesPageSize"
                            [pageIndex]="contribuicoesPage - 1" [pageSizeOptions]="[10, 25, 50, 100]"
                            (page)="onContribuicoesPageChange($event)" class="paginator"
                            aria-label="Select contributors page">
                        </mat-paginator>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>