<div class="px-40 flex flex-1 justify-center py-5 bg-blue-950">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="hero-section"
      style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, hsla(0, 0%, 0%, 0.55) 100%), url("/comicsmanga.jpg");'>
      <div class="hero-content">
        <h1>Bem-vindo ao Collectpedia!</h1>
        <h2>Seu site de consultas e catalogação de comics e mangás.</h2>
      </div>

      <!-- Loading Indicator (Centralized) -->
      <div *ngIf="isLoading" class="centralized-spinner-container">
        <mat-spinner diameter="60" color="light"></mat-spinner>
      </div>

      <form #searchForm="ngForm" (ngSubmit)="onSearchChange()">
        <div class="search-container">
          <div class="search-input-group">
            <div class="search-icon">
              <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
            </div>
            <input class="search-input" placeholder="Digite sua busca aqui" name="search"
              [(ngModel)]="searchParams.search" required #searchInput="ngModel" />
            <div class="search-button-container">
              <button mat-raised-button class="search-button"
                [disabled]="!isValidSearch(searchParams.search) || !searchParams.type">
                <span>Buscar</span>
              </button>
            </div>
          </div>
        </div>
        <div class="flex justify-center w-full">
          <mat-form-field appearance="fill" class="search-input-group mt-2 max-w-44">
            <mat-select [(ngModel)]="searchParams.type" name="type" required #typeSelect="ngModel">
              <mat-option value="comics">
                <mat-icon>menu_book</mat-icon>
                <span>/comics</span>
              </mat-option>
              <mat-option value="mangas">
                <mat-icon>import_contacts</mat-icon>
                <span>/mangás</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="flex flex-row mt-5 justify-between">
      <div class="flex-1 max-w-[30%] min-h-full">
        <h2 class="section-title mb-5">Novas adições</h2>

        <swiper-container pagination="true" pagination-clickable="true" keyboard="true" loop="true" direction="vertical"
          mousewheel="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
          <swiper-slide class="flex ml-6 justify-center" *ngFor="let issue of lastAddedIssues; let i = index"
            [attr.data-swiper-slide-index]="i">
            <div class="issue-card">
              <div class="issue-image" style='background-image: url("{{issue.fotoCapa}}");'
                (click)="goToSerieByIssue(issue.serieId)">
              </div>
              <!-- <div class="text-center">
                <p class="issue-title">{{issue.serieNome}}<br>#{{issue.numero}}</p>
              </div> -->
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
      <div class="flex-1 flex flex-col max-w-[60%]">
        <h2 class="section-title mb-8">Principais editoras</h2>
        <div class="flex flex-row gap-12">
          <div class="publisher-div ml-20" routerLink="/summary/publishers/1">

            <div class="logo-text bg-[#14203e] rounded-md">
              <img class="publisher-logo rounded-t-md"
                src="https://robng-tcc-arquivos.s3.us-east-1.amazonaws.com/Editoras_Logos/logo-dc-comics.png"
                alt="DC Comics" />

              <div class="text-center justify-items-center my-3">
                <p class="issue-title">DC Comics</p>
              </div>

            </div>
          </div>

          <div class="publisher-div " routerLink="/summary/publishers/2">
            <div class="logo-text bg-[#14203e] rounded-md">
              <img class="publisher-logo rounded-t-md"
                src="https://robng-tcc-arquivos.s3.us-east-1.amazonaws.com/Editoras_Logos/logo-marvel-comics.png"
                alt="Marvel Comics" />

              <div class="text-center justify-items-center my-3">
                <p class="issue-title">Marvel Comics</p>
              </div>

            </div>
          </div>

          <div class="publisher-div" routerLink="/summary/publishers/3">
            <div class="logo-text bg-[#14203e] rounded-md">
              <img class="publisher-logo rounded-t-md"
                src="https://robng-tcc-arquivos.s3.us-east-1.amazonaws.com/Editoras_Logos/logo-shueisha.png"
                alt="Shueisha" />

              <div class="text-center justify-items-center my-3">
                <p class="issue-title">Shueisha</p>
              </div>

            </div>

          </div>

        </div>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    </div>
  </div>