<div class="flex justify-center items-center min-h-[80vh] px-4 flex-grow">
  <!-- Loading Indicator (Centralized) -->
  <div *ngIf="isLoading" class="centralized-spinner-container">
    <mat-spinner diameter="60" color="light"></mat-spinner>
  </div>

  <div class="w-full max-w-md" *ngIf="!isLoading">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="bg-[#1e3a8a] text-white py-4 px-6">
        <h2 class="text-xl font-bold">Login</h2>
      </div>

      <div class="p-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="w-full mb-4">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Email">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
              Campo obrigatório
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
              Formato de email inválido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full mb-4">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password">
            <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
              Campo obrigatório
            </mat-error>
          </mat-form-field>

          <div *ngIf="errorMessage" class="text-red-500 mb-4">
            {{ errorMessage }}
          </div>

          <div class="flex justify-center mx-10">
            <button type="submit" mat-flat-button [disabled]="loginForm.invalid || isSubmitting"
              class="search-button w-full">
              {{ isSubmitting ? 'Carregando...' : 'Login' }}
            </button>
          </div>
        </form>

        <div class="mt-6 text-center">
          <p class="text-gray-600">
            Ainda não é cadastrado?
            <a routerLink="/account/register" class="text-[#1e3a8a] font-medium hover:underline">Registre-se!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>